<div class="row">

    <div class=" col-2">
        <img [src]="artista.images" alt="" class="img-thumbnail img-circle">
        <!--link a la imagen -->

    </div>
    <div class="col">

        <h3>{{artista.name}}</h3>
        <!--Nombre del artista  -->
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del artista
                <!-- Link externo que lleva a pág del artista -->
            </a>
        </p>

    </div>

    <div class="col-4 text-right">
        <!-- boton de atrás    -->
        <button routerLink="/home" class="btn btn-outline-danger"> Volver atrás</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let track of topTracks">
                    <!--for de tracks e inserta código -->

                    <td>
                        <img [src]="track.album.image" alt="" class="img-thumb">
                    </td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <td>
                        <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300"
                            height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                    </td>

                </tr>
            </tbody>



        </table>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Album</th>
            <th>Cancion</th>
            <th>Vista</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td><iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
        </tr>
        <tr>
            <th scope="row">2</th> 
        </tr>
    </tbody>
</table>